.control {
    height: 11.25rem;
    
    display: flex;
}

.left-button {
    height: 8.75rem;
    width: 5rem;
    background-color:transparent;
    border:hidden;
}

.right-button {
    height: 8.75rem;
    width: 5rem;
    background-color: transparent;
    border: hidden;
}

.images-container {
    display: flex;
}

.image-preview {
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 15px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* or cover */
    display: block;
}
